.cover__subtitle{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: white;
    margin: 0 412px 0;
    text-align: center;
    opacity: 1;
    z-index: 2;
}

@media (min-width: 1024px) and (max-width: 1279px){
    .cover__subtitle {
        margin: 0 332px 0;
    }
}


@media (min-width: 768px) and (max-width: 1023px){
    .cover__subtitle {
        margin: 0 204px 0;
    }
}

@media (min-width: 320px) and (max-width: 767px){
    .cover__subtitle {
        margin: 0 16px 0;
        font-size: 14px;
        line-height: 16px;
    }
}